<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로컬 환경 -->
    <springProfile name="local">
        <include resource="error-console.xml" />
        <include resource="warn-console.xml" />
        <include resource="info-console.xml" />

        <root level="info">
            <appender-ref ref="INFO_CONSOLE" />
            <appender-ref ref="ERROR_CONSOLE" />
            <appender-ref ref="WARN_CONSOLE" />
        </root>
    </springProfile>
    <!-- 개발 및 프로덕션 환경 -->
    <springProfile name="dev,prod">
        <include resource="error-appender.xml" />
        <include resource="warn-appender.xml" />
        <include resource="info-appender.xml" />

        <root level="info">
            <appender-ref ref="INFO" />
            <appender-ref ref="ERROR" />
            <appender-ref ref="WARN" />
        </root>
    </springProfile>
</configuration>
